@model User

<div class="addmessage", id="title">
    <h1>Add message</h1>
</div>

<form method="post" action="/users/@Model.Id/messages">
    <div class="input-group">
        <label for="Content">Content:</label>
        <input type="text" id="Content" name="Content" />
    </div>
    <div class=" =submitbutton">
        <button type="submit">Submit Message</button>
    </div>
</form>